USE [PRO_STORE_NEXTJS]
GO
/****** Object:  Table [dbo].[BlogPosts]    Script Date: 3/31/2026 10:30:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPosts](
	[Id] [varchar](50) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Slug] [varchar](255) NOT NULL,
	[Excerpt] [nvarchar](1000) NOT NULL,
	[Cover] [nvarchar](500) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[PublishedAt] [date] NOT NULL,
	[ReadTime] [nvarchar](50) NOT NULL,
	[ContentJson] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/31/2026 10:30:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [varchar](50) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Slug] [varchar](255) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Icon] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/31/2026 10:30:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [varchar](50) NOT NULL,
	[UserId] [varchar](50) NULL,
	[CustomerName] [nvarchar](255) NOT NULL,
	[CustomerEmail] [varchar](255) NULL,
	[Phone] [varchar](30) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[PaymentMethod] [varchar](20) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Total] [decimal](18, 0) NOT NULL,
	[Note] [nvarchar](1000) NULL,
	[ItemsJson] [nvarchar](max) NOT NULL,
	[StatusTimelineJson] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/31/2026 10:30:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [varchar](50) NOT NULL,
	[CategoryId] [varchar](50) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Slug] [varchar](255) NOT NULL,
	[Brand] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[OriginalPrice] [decimal](18, 0) NULL,
	[Rating] [decimal](3, 2) NOT NULL,
	[ReviewCount] [int] NOT NULL,
	[Stock] [int] NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[GalleryJson] [nvarchar](max) NOT NULL,
	[ShortDescription] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[SpecsJson] [nvarchar](max) NOT NULL,
	[TagsJson] [nvarchar](max) NOT NULL,
	[Featured] [bit] NOT NULL,
	[OnSale] [bit] NOT NULL,
	[IsNew] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 3/31/2026 10:30:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [varchar](50) NOT NULL,
	[ProductId] [varchar](50) NOT NULL,
	[UserId] [varchar](50) NULL,
	[Author] [nvarchar](255) NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/31/2026 10:30:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [varchar](50) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Phone] [varchar](30) NULL,
	[Address] [nvarchar](500) NULL,
	[Role] [varchar](20) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [Description], [Icon], [IsActive], [SortOrder], [CreatedAt], [UpdatedAt]) VALUES (N'cat-accessory', N'Phụ kiện', N'phu-kien', N'Chuột, bàn phím, tai nghe, dock và phụ kiện tiện ích.', N'Headphones', 1, 5, CAST(N'2026-03-24T00:00:00.000' AS DateTime), CAST(N'2026-03-24T00:00:00.000' AS DateTime))
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [Description], [Icon], [IsActive], [SortOrder], [CreatedAt], [UpdatedAt]) VALUES (N'cat-laptop', N'Laptop', N'laptop', N'Laptop gaming, văn phòng và ultrabook cho mọi nhu cầu.', N'Laptop', 1, 1, CAST(N'2026-03-24T00:00:00.000' AS DateTime), CAST(N'2026-03-24T00:00:00.000' AS DateTime))
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [Description], [Icon], [IsActive], [SortOrder], [CreatedAt], [UpdatedAt]) VALUES (N'cat-monitor', N'Màn hình', N'man-hinh', N'Màn hình gaming, thiết kế và làm việc chuyên nghiệp.', N'Monitor', 1, 4, CAST(N'2026-03-24T00:00:00.000' AS DateTime), CAST(N'2026-03-24T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [Author], [Rating], [Comment], [Status], [CreatedAt]) VALUES (N'r1', N'p1', N'u2', N'Nguyen Minh', 5, N'Máy mượt, màn đẹp và pin tốt hơn mình nghĩ.', N'approved', CAST(N'2026-03-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [Author], [Rating], [Comment], [Status], [CreatedAt]) VALUES (N'r2', N'p1', N'u3', N'Tran Bao', 4, N'Tản ổn, chơi game ngon nhưng giá hơi cao.', N'approved', CAST(N'2026-03-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [Author], [Rating], [Comment], [Status], [CreatedAt]) VALUES (N'r3', N'p4', N'u2', N'Le Anh', 5, N'Camera và quay video rất tốt, hệ sinh thái dùng tiện.', N'approved', CAST(N'2026-03-14T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Users] ([Id], [Name], [Email], [Phone], [Address], [Role], [Status], [PasswordHash], [CreatedAt]) VALUES (N'u1', N'Admin GearHub', N'admin@gearhub.vn', N'0909000000', N'127 Nguyen Hue, Quan 1, TP.HCM', N'admin', N'active', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', CAST(N'2026-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([Id], [Name], [Email], [Phone], [Address], [Role], [Status], [PasswordHash], [CreatedAt]) VALUES (N'u2', N'Tran Dong Quan', N'trandongquan@gmail.com', N'0909000111', N'45 Vo Van Tan, Quan 3, TP.HCM', N'customer', N'active', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', CAST(N'2026-02-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([Id], [Name], [Email], [Phone], [Address], [Role], [Status], [PasswordHash], [CreatedAt]) VALUES (N'u3', N'Tran Linh', N'linh@gmail.com', N'0988111222', N'22 Cau Giay, Ha Noi', N'customer', N'locked', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', CAST(N'2026-03-03T00:00:00.000' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BlogPost__BC7B5FB6EF636593]    Script Date: 3/31/2026 10:30:01 AM ******/
ALTER TABLE [dbo].[BlogPosts] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__BC7B5FB618943038]    Script Date: 3/31/2026 10:30:01 AM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__BC7B5FB618770DDA]    Script Date: 3/31/2026 10:30:01 AM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105349F05E06B]    Script Date: 3/31/2026 10:30:01 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'[]') FOR [ItemsJson]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [ReviewCount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (N'[]') FOR [GalleryJson]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (N'{}') FOR [SpecsJson]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (N'[]') FOR [TagsJson]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Featured]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [OnSale]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsNew]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [CK_Categories_Icon_Allowed] CHECK  (([Icon]='Headphones' OR [Icon]='Monitor' OR [Icon]='Smartphone' OR [Icon]='MonitorSmartphone' OR [Icon]='Laptop'))
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [CK_Categories_Icon_Allowed]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [CK_Categories_Name_NotEmpty] CHECK  ((ltrim(rtrim([Name]))<>''))
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [CK_Categories_Name_NotEmpty]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [CK_Categories_Slug_NotEmpty] CHECK  ((ltrim(rtrim([Slug]))<>''))
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [CK_Categories_Slug_NotEmpty]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [CK_Categories_SortOrder_NonNegative] CHECK  (([SortOrder]>=(0)))
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [CK_Categories_SortOrder_NonNegative]
GO
